@model ScrumProjekt.Models.CreatePost


@{
    ViewBag.Title = "Index";

}

@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form", encType = "multipart/form-data" }))
{
    
    @Html.AntiForgeryToken()

@*<div class="form-horizontal">*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => Model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.Content, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>

            @Html.DropDownListFor(m => m.CategoryID,
new SelectList(ViewBag.Categories, "Id", "Name", null), "Välj kategori", null);

        </div>
        <br />
        @if (User.IsInRole("Admin"))
        {
            <div>
                <button type="button" onclick="location.href='@Url.Action("Index", "Categories")'">Add a category</button>
            </div>
            <br />
        }
        @Html.HiddenFor(model => Model.ForumId)

        <div>
            @Html.TextBoxFor(m => m.files, new { type = "file" })
        </div>
        <br />
        <div>
            @Html.TextBoxFor(m => m.files, new { type = "file" })
        </div>
        @Html.HiddenFor(model => Model.ForumId)
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}