@model ScrumProjekt.Models.PostViewModels

@using ScrumProjekt.Models

@using Microsoft.AspNet.Identity


@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

<!DOCTYPE html>
<html lang="en">

<body>
    <h1 class="my-4">@Model.Forum.ForumName</h1>


    <hr />

    <button class="btn btn-primary btn-lg btn-block" id="myBtn">Create Post</button>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        @Html.Partial("CreatePostPartialView", new CreatePost { ForumId = Model.Forum.Id })
    </div>

    <hr>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->

            <div class="col-md-8">


                @foreach (var post in Model.Posts)
                {
                    <!-- Blog Post -->
                    <div class="card mb-4">

                        <div class="card-body">
                            <h2 class="card-title">Post Title</h2>
                            <p class="lead">
                                By
                                @*<a href="#">@post.SenderId.Email</a>*@
                                <a href="#">@post.SenderId.FirstName @post.SenderId.LastName </a>
                            </p>
                            <hr />
                            <p>Posted on @post.TimeSent </p>

                            <hr />
                            <p class="card-text">@post.Content</p>
                            <hr />
                            @if (post.Category != null)
                            {
                                <p><b><I>@post.Category.Name</I></b></p>
                            }
                        </div>
                        <div class="card-footer text-muted">

                            @if (User.IsInRole("Admin") || User.Identity.GetUserId() == post.SenderId.Id)
                            {
                                <button type="button" onclick="location.href='@Url.Action("Edit", "Post", new { id = post.Id })'">Edit</button>
                            }
                            @if (User.IsInRole("Admin") || User.Identity.GetUserId() == post.SenderId.Id)
                            {
                                <button type="button" onclick="location.href='@Url.Action("Delete", "Post", new { id = post.Id })'">Delete</button>
                            }
                        </div>

                        <!-- COMMENT SECTION -->
                        @foreach (var comment in Model.CommentList)
                        {
                            if (post.Id == comment.Post.Id)
                            {
                                <!-- One Comment -->
                                <hr />

                                <div class="media mb-0">
                                    @*<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">*@
                                    <div class="media-body">
                                        <span class="badge badge-primary"><b>@post.SenderId.FirstName @post.SenderId.LastName</b></span>
                                        @*<h5 class="mt-0"><b>@post.SenderId.Email</b></h5>*@
                                        @comment.Content
                                    </div>
                                </div>

                            }
                        }
                        @Html.Partial("CreateCommentPartial", new CommentViewModel { PostID = post.Id })

                    </div>
                }
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-4">
                
                @if (Model.Forum.AllowPushNotifications)
                {
                    if (Model.User.Subscriptions.Any(p => p.Id == Model.Forum.Id))
                    {
                        @Html.ActionLink("Unsubscribe", "UnSubscribe", new { ForumID = Model.Forum.Id }, new { @Class="btn"});
                    }
                    else
                    {
                        @Html.ActionLink("Subscribe", "Subscribe", new { ForumID = Model.Forum.Id });
                    }
                }


                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li id="CategoryList">
                                        @foreach (var c in Model.Categories)
                                        {
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="@c.Key.Id" checked="@c.Value" />
                                                    <label class="custom-control-label" for="@c.Key.Id"> @c.Key.Name </label>
                                                </div>
                                            </div>
                                        }
                                    </li>


                                </ul>
                            </div>
                        </div>

                    </div>

                    <button class="btn btn-secondary" type="button" id="CategoryGoBtn">Go!</button>
                </div>
            </div>
        </div>
    </div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    @section scripts {
        <script>
            $(document).ready(function () {
                $("#CategoryGoBtn").click(function () {
                    BtnClick();
                });
            });

            function BtnClick() {
                var list = []
                $("#CategoryList").find("input:checked").each(function (element) {
                    list.push($(this).attr('id'));

                })

                console.log(list);

                var urlString = "";
                for (var i = 0; i < list.length; i++) {
                    urlString += "&filtrering=" + list[i];
                }
                var url = window.location.href.split("?")[0] + "?" + urlString;
                window.location.href = url
            }

            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            
        </script>









    }


</body>

</html>







