@model ScrumProjekt.Models.PostViewModels
    @using ScrumProjekt.Models

@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

<!DOCTYPE html>
<html lang="en">

<body>


    @Html.Partial("CreatePostPartialView", new CreatePost { ForumId = Model.Forum.Id })


    <!-- Page Content -->
    @*<div class="container">

        <div class="row">*@

    <!-- Blog Entries Column -->
    <div class="col-8">

        <h1 class="my-4">
            Formellt forum

        </h1>

        @foreach (var post in Model.Posts)
        {
            <!-- Blog Post -->
            <div class="card mb-4">

                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <p class="card-text">@post.Content</p>

                </div>
                <div class="card-footer text-muted">
                    <p>@post.TimeSent</p>
                    <p>@post.Category.Name</p>
                    <p>@post.SenderId.Email</p>

                    <button type="button" onclick="location.href='@Url.Action("Edit", "Post")'">Edit</button>



                </div>
                <!-- Comment 1-->
                <div class="media mb-4">

                    <div class="media-body">

                        <span class="badge badge-primary">@post.SenderId.Email</span>
                        Schyst hylla
                    </div>
                </div>

                <!-- Comment 2-->
                <div class="media mb-4">

                    <div class="media-body">

                        <span class="badge badge-primary">@post.SenderId.Email</span>
                        Jävlar vad bra post
                    </div>
                </div>

                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control text-box single-line" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        }
        <!--Single comment-->
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-4">

        

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li id="CategoryList">
                                @foreach (var c in Model.Categories)
                                {
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@c.Key.Id" checked="@c.Value" />
                                            <label class="custom-control-label" for="@c.Key.Id"> @c.Key.Name </label>
                                        </div>
                                    </div>

                                }


                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <button class="btn btn-secondary" type="button" id="CategoryGoBtn">Go!</button>
        </div>


    </div >


                                <script src="vendor/jquery/jquery.min.js"></script>
                                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 @section scripts {
     <script>
         $(document).ready(function () {
             $("#CategoryGoBtn").click(function () {
                 BtnClick();
             });
         });

         function BtnClick() {
             var list = []
             $("#CategoryList").find("input:checked").each(function (element) {
                 list.push($(this).attr('id'));
                
             })

             console.log(list);

             var urlString = "";
             for (var i = 0; i < list.length; i++) {
                 urlString += "&filtrering=" + list[i];
             }
             var url = window.location.href.split("?")[0] + "?" + urlString;
             window.location.href = url
         }

     </script>
                          

                                

                                    

                                  


 }

</body>

</html>





@*@foreach (var post in Model.Posts)
    {

        @Html.AntiForgeryToken()
        <div class="col-md-offset-2 col-md-10 post" style="margin-top: 20px">
            <input type="submit" class="btn btn-primary btn-lg" value="Delete" />
        </div>
    }
}


        <p>@post.SenderId.Email</p>
        <p>@post.Content</p>
        <br />
        <hr />

        using (Html.BeginForm("Delete", "Post", new { id = post.Id }, FormMethod.Post,  new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        }
    }*@

